*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    min-height: 100vh;
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 36px 56px;
    border-radius: 16px;
    row-gap: 24px;
}

fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

article {
    display: flex;
    flex-direction: column;
}

label {
    padding-right: 8px;
}

input {
    padding: 8px;
    background-color: #f1f0f5;
    border-radius: 4px;
}

input[type=date] {
    width: 100%;
}

button {
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #fc00ff, #00dbde);
    padding: 16px 0;
    font-size: inherit;
    font-weight: 700;
    border-radius: inherit;
}

.error-wrapper::after {
    content: attr(data-error);
    padding-top: 4px;
    font-size: 0.8rem;
    color: red;
}

.invalid {
    outline: 1px solid red;
}

@media screen and (max-width: 364px) {
    #root {
        overflow-y: hidden;
        background-color: white;
    }

    form {
        padding: 16px;
        border-radius: 0;
        min-height: 100vh;
        min-width: 100vw;
        row-gap: 0;
        justify-content: space-between;
    }
}
